In [13]:
import numpy as np
import pandas as pd

In [14]:
user = pd.read_csv("user.csv")
answer = pd.read_csv("answers.csv")

In [16]:
start_time = answer.start_time
end_time=answer.end_time
answer['start_stamp'] = pd.to_datetime(start_time)
answer['end_stamp'] = pd.to_datetime(end_time)
answer['time'] = answer.end_stamp - answer.start_stamp
answer['time']=answer['time']/np.timedelta64(1,'s')
answer

,id,user_hid,block_num,task_num,answer,start_time,end_time,start_stamp,end_stamp,time
0,1,-8920293166519502928,0,0,NaN,2021-08-03 09:19:24.000000,2021-08-03 09:19:50.602239,2021-08-03 09:19:24,2021-08-03 09:19:50.602239,26.602239
1,2,-8920293166519502928,0,1,NaN,2021-08-03 09:19:50.000000,2021-08-03 09:19:54.490507,2021-08-03 09:19:50,2021-08-03 09:19:54.490507,4.490507
2,3,-8920293166519502928,0,2,NaN,2021-08-03 09:19:54.000000,2021-08-03 09:19:59.893330,2021-08-03 09:19:54,2021-08-03 09:19:59.893330,5.893330
3,4,-8920293166519502928,0,3,NaN,2021-08-03 09:20:00.000000,2021-08-03 09:20:03.491885,2021-08-03 09:20:00,2021-08-03 09:20:03.491885,3.491885
4,5,-8920293166519502928,1,0,NaN,2021-08-03 09:20:26.000000,2021-08-03 09:20:28.938116,2021-08-03 09:20:26,2021-08-03 09:20:28.938116,2.938116
...,...,...,...,...,...,...,...,...,...,...
76,77,360633697853145618,0,3,NaN,2021-08-04 13:28:58.000000,2021-08-04 13:28:59.219958,2021-08-04 13:28:58,2021-08-04 13:28:59.219958,1.219958
77,78,360633697853145618,1,0,NaN,2021-08-04 13:29:21.000000,2021-08-04 13:29:23.102573,2021-08-04 13:29:21,2021-08-04 13:29:23.102573,2.102573
78,79,360633697853145618,1,1,NaN,2021-08-04 13:29:23.000000,2021-08-04 13:29:24.363131,2021-08-04 13:29:23,2021-08-04 13:29:24.363131,1.363131
79,80,360633697853145618,1,2,NaN,2021-08-04 13:29:24.000000,2021-08-04 13:29:26.363247,2021-08-04 13:29:24,2021-08-04 13:29:26.363247,2.363247
80,81,360633697853145618,1,3,NaN,2021-08-04 13:29:26.000000,2021-08-04 13:29:28.386348,2021-08-04 13:29:26,2021-08-04 13:29:28.386348,2.386348