In [3]:
import numpy as np
import pandas as pd

In [4]:
#raw_tables
user = pd.read_csv("user.csv")
answer = pd.read_csv("answers.csv")
answer['task_time'] = (pd.to_datetime(answer.end_time) - pd.to_datetime(answer.start_time))/np.timedelta64(1,'s')
data = pd.merge(user,answer,left_on='time_hash',right_on='user_hid')
numbers = data[['id_x','username','group','block_num','task_num','answer','task_time']].dropna()

In [5]:
#task_tables
def table_maker(tn4bl1, tn4bl2, check_string):
    bl0t = numbers.loc[(numbers.block_num == 0) & (numbers.task_num ==tn4bl1), ['id_x','group','answer', 'task_time']]
    bl1t = numbers.loc[(numbers.block_num == 1) & (numbers.task_num ==tn4bl2), ['id_x','group','answer', 'task_time']]
    table_task = pd.merge(bl0t,bl1t,on=['id_x', 'group'])
    table_task['delta_time'] = table_task.task_time_y-table_task.task_time_x
    table_task['change'] = (table_task.answer_x.str.contains(check_string, regex=False)!=
                             table_task.answer_y.str.contains(check_string, regex=False)) 
    table_task.loc[table_task.answer_x.str.contains(check_string, regex=False), 'change'] = 'No_set'
    return table_task

lambda_table = table_maker(3, 2, check_string ='lambda')
isinstance_table = table_maker(0, 1, check_string ='isinstance')
enumerate_table = table_maker(1, 0, check_string ='enumerate')
sum_table = table_maker(2, 3, check_string ='sum')

In [6]:
lambda_table

,id_x,group,answer_x,task_time_x,answer_y,task_time_y,delta_time,change
0,2,1,папапа,2.749457,аппа,2.725711,-0.023746,False
1,11,1,lambda x:,13.219283,fdhrt,2.912944,-10.306339,No_set

In [7]:
isinstance_table

,id_x,group,answer_x,task_time_x,answer_y,task_time_y,delta_time,change
0,2,1,вавав,2.747802,вава,1.837587,-0.910215,False
1,11,1,"isinstance(var, str)",49.587747,nanansafd,3.451329,-46.136418,No_set

In [8]:
enumerate_table

,id_x,group,answer_x,task_time_x,answer_y,task_time_y,delta_time,change
0,2,1,папапап,4.457172,вава,2.903597,-1.553575,False
1,11,1,enumerate(numbers),23.062041,nnana,11.055454,-12.006587,No_set

In [9]:
sum_table

,id_x,group,answer_x,task_time_x,answer_y,task_time_y,delta_time,change
0,2,1,кукукук,2.605249,пррп,3.081188,0.475939,False
1,11,1,sum(num),11.906200,fdfgfgfh,2.533347,-9.372853,No_set